#blueDiv{
	background-color: blue;
	max-width:300px;
	min-width:300px;
	margin-right: auto;
	margin-left: auto;
}
body{
	background-image:url("../images/fishy.jpg");
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
.options{
	max-width: 20%;
	min-width: 20%;
	max-height: 15%;
	min-height: 15%;
}
#socialNetworkButtonsContainer{
	max-width:80%;
	margin-left: auto;
	margin-right: auto;
}
#skip{
	margin-right:auto;
	margin-left:auto;
	max-width:150px;
	min-width:150px;
	max-height:49px;
	min-height:49px;
}
#container{
	position:absolute;
	top:250px;
	right:25px;
	bottom:0px;
	left:0px;
}